@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;500;700&family=Montserrat:wght@100;200;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100%;
  background-color: #181719;
  color: #fff;
}

.container {
  width: 93%;
  max-width: 1000px;
  margin: 20px auto;

  position: relative;
  padding-bottom: 3em;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.rectangle {
  height: 16px;
  position: absolute;
}
.rectangle p {
  font-family: "Crimson Pro", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 0.8em;
  line-height: 16px;
  text-transform: uppercase;

  border: 1px solid;
  padding: 5px;
}

/* mobile nav */

.nav {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.menu-items {
  display: none;

  position: sticky;
  margin-top: 20px;
}
.menu-items a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding: 20px;
}
.home {
  display: inline;
  padding: 8px 0;
  border-bottom: 2px solid #fff;
}
.show {
  display: block;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-icon {
  position: absolute;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 5px);
  transform: rotate(-45deg) translate(-8px, 5px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -5px);
  transform: rotate(45deg) translate(-8px, -5px);
}

/* main content */
.main {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.description {
  margin-bottom: 30px;
}
.description h1 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
}
.description p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
}
.description a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  display: inline-block;
}

span {
  position: relative;
  top: 8px;
  left: 10px;
}
img {
  width: 100%;
}

/* card */
.card {
  width: 85%;
  max-width: 410px;
  background-color: #181719;
  align-self:flex-end;

  position: relative;
  top: -50px;
  right: 3%;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-content {
  width: 85%;
  margin: 0 auto;
}
.profile-head {
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
}
.profile-img img {
  border-radius: 50%;
  width: 38px;
  margin-right: 17px;
}
.profile-name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.6em;
  line-height: 16px;

  align-self: center;
}
.profile-name p {
  font-weight: 400;
  color: #828282;
}

.profile-description {
  font-family: "Lora", serif;
  font-style: normal;
  font-size: 0.55em;
  line-height: 23px;
  padding-bottom: 25px;

  width: 80%;
  position: relative;
}

/* -- FOOTER -- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  color: #bdbdbd;
}
a {
  text-decoration: none;
  color: #333333;
}
